html * {
    font-size: 16px;
    line-height: 1.625;
    color: rgb(1,1,1);
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif,  sans-serif;
  }


.bigheader {
    position: inline-block;
    width: 100%;
    background-color: white;
}

.bigheader h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Gill Sans MT',  'Trebuchet MS', sans-serif,  sans-serif;
}


::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

body, html {
  height: 100%;
}