

.project {
    display:block;
    flex-direction:row;
    width:100%;    
}

.projecttext {
    float: left;
    width: 65%;
    margin-left: 5%;
}

.projectnav {
    position: sticky;
    top: 0;
    float: right;
    width: 28%;
    background-color:rgba(90,90,90,0.5);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 10px;
}


.projectnav a {
    margin-top: 15px;
    margin-left: 25px;
    margin-right:25px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: font-size 0.25s;
}


.projectnav a:hover {
    font-size: 18.25px;
    color: rgb(255,255,255)
}


.code {
    font-family: Consolas;
    font-size: inherit;
    display:inline;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
}