
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    z-index: 0;
    background-color: rgb(27, 92, 125); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
  }
  

  .sidenav a {
    padding: 6px 8px 6px 50px;
    text-decoration: none;
    font-size: 25px;
    color: #dddddd;
    display: block;
    z-index: 0;
    transition: font-size 0.15s;
  }
  
  /* When you mouse over the navigation links, change their color and font*/
  .sidenav a:hover {
    color: #ffffff;
    font-size: 27px;
  }


  .sidenav img {
    width: 100%;
  }
  

  /* Style page content */
  main {
    margin-left: 19.6%; /* Same as the width of the sidebar */
    margin-top: 0px;
    top: 0;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
