
.animate-fading{
    animation:fading 10s infinite
}

@keyframes fading{
    0%{opacity:0}
    15%{opacity:1}
    85%{opacity:1}
    100%{opacity:0}
}


.slideshow container{
    display: block;
    margin: auto;
}


.slideshow img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 85%;
    border-radius: 15px;
    object-fit: cover;
}


.slideshow .caption { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: 65%;
    height: auto;
    font-size: 14px;
    background: rgba(0,0,0,0.1); 
    color: black; 
    padding: 0px 20px 3px;; 
  }
  


.slideshow .dot {
    display: inline-block;
    height: 16px;
    width: 19px;
    margin: 0 1px;
    background-color: rgb(90, 90, 90);
    border-radius: 30%;
    transition: height 0.25s;
  }


  .slideshow .dot:hover{
    height: 18px;
    border-radius: 20%;
}


