* {
    box-sizing: border-box;
  }
 
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 900px;
    margin: auto auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    right: -10px;
    background-color: rgb(32, 110, 148);
    border: 2px solid rgb(1,1,1);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(0, 0, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(0, 0, 0);
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(0, 0, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(0, 0, 0) transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 10px 20px;
    background-color: rgb(230,230,230);
    transition: background-color 0.25s;
    position: relative;
    border-radius: 8px;
    font-size: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .content:hover {
      background-color: rgba(233, 219, 159, 0.466);
  }

  .content .year {
      font-size: 20px;
      font-weight: bolder;
  }
  .content .org {
      font-size: 15px;
      color:rgb(48, 48, 48);
  }
  .content .position {
      font-size: 18px;
      font-weight: bold;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid rgb(0, 0, 0);
      border-width: 10px 10px 10px 0;
      border-color: transparent rgb(0, 0, 0) transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }